@model IEnumerable<MusicHub.ViewModels.ProjectViewModel>

@{
    Layout = "~/Views/Shared/_Result_Layout.cshtml";
}

<h2>Results</h2>
<div class="row">
    <label for="search"><i class="material-icons">search</i></label>
    <input id="search" name="search" type="search" required>
    <p>Showing results of: <i>@ViewBag.Result</i>.</p>
    <div class="container">
        @if (Model.Count() > 0)
        {
            foreach (var p in Model)
            {
                <div class="section">
                    @Html.ActionLink(p.user.UserName, "Profile", "User", new { user = p.user.UserName }) / @Html.ActionLink(p.project.ProjectName, "Detail", "Project", new { project = p.project.ProjectName })
                    <br />
                    <span>Created: <p>@p.project.CreationDate</p></span>
                    <i class="truncate">@p.project.ProjectDescription</i>
                    <p>@p.project.MusicalStyle</p>
                </div>
            }
        }
        else
        {
            <span>No results were found.</span>
        }
    </div>
</div>