@model MusicHub.ViewModels.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="row card animated bounceIn">

            <h2>Register</h2>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="col s6">
                @Html.LabelFor(x => x.UserName)
                @Html.TextBoxFor(x => x.UserName)
            </div>
            <div class="col s6">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email)
            </div>
            <div class="col s6">
                @Html.ValidationMessageFor(x => x.UserName)
            </div>
            <div class="col s6">
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div class="col s4 input-field">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name)
            </div>
            <div class="col s4 input-field">
                @Html.LabelFor(x => x.LastName)
                @Html.TextBoxFor(x => x.LastName)
            </div>
            <div class="col s4 input-field">
                @Html.LabelFor(x => x.BirthDate)
                @Html.TextBoxFor(x => x.BirthDate, new { @class = "datepicker" })
            </div>
            <div class="col s4">
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="col s4">
                @Html.ValidationMessageFor(x => x.LastName)
            </div>
            <div class="col s4">
                @Html.ValidationMessageFor(x => x.BirthDate)
            </div>
            <div class="col s6 input-field">
                @Html.DropDownListFor(x => x.GenderId, null, "Choose your gender", new { @type = "select" })
            </div>
            <div class="col s6 input-field">
                @Html.DropDownListFor(x => x.CountryId, null, "Choose your country", new { @type = "select" })
            </div>
            <div class="col s6">
                @Html.ValidationMessageFor(x => x.GenderId)
            </div>
            <div class="col s6">
                @Html.ValidationMessageFor(x => x.CountryId)
            </div>
            <div class="col s12 input-field">
                @Html.LabelFor(x => x.AboutMe)
                @Html.TextAreaFor(x => x.AboutMe, new { @class = "materialize-textarea" })
            </div>
            <div class="col s12">
                @Html.ValidationMessageFor(x => x.AboutMe)
            </div>
            <div class="col s12 input-field">
                @Html.LabelFor(x => x.Password)
                @Html.TextBoxFor(x => x.Password, new { @type = "Password" })
            </div>
            <div class="col s12">
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div class="col s12 input-field">
                @Html.LabelFor(x => x.ConfirmPassword)
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @type = "Password" })
            </div>
            <div class="col s12">
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>
            <div class="col s12 center">
                <input type="submit" value="Register" class="btn blue darken-2" />
            </div>
            <br />
        </div>
    }
</div>