@model MusicHub.ViewModels.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

<div class="container">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)

        @Html.TextBoxFor(x => x.UserName, new { @placeholder = "Username" })
        <br />
        @Html.ValidationMessageFor(x => x.UserName)
        <br />
        @Html.TextBoxFor(x => x.Email, new { @placeholder = "Email" })
        <br />
        @Html.ValidationMessageFor(x => x.Email)
        <br />
        @Html.TextBoxFor(x => x.Name, new { @placeholder = "Name" })
        <br />
        @Html.ValidationMessageFor(x => x.Name)
        <br />
        @Html.TextBoxFor(x => x.LastName, new { @placeholder = "Last name" })
        <br />
        @Html.ValidationMessageFor(x => x.LastName)
        <br />
        @Html.TextBoxFor(x => x.BirthDate, new { @class = "datepicker", @placeholder = "Birthdate" })
        <br />
        @Html.ValidationMessageFor(x => x.BirthDate)
        <br />
        @Html.DropDownListFor(x => x.GenderId, null, "Choose your gender", new { @type = "select" })
        <br />
        @Html.ValidationMessageFor(x => x.GenderId)
        <br />
        @Html.DropDownListFor(x => x.CountryId, null, "Choose your country", new { @type = "select" })
        <br />
        @Html.ValidationMessageFor(x => x.CountryId)
        <br />
        @Html.TextAreaFor(x => x.AboutMe, new { @class = "materialize-textarea", @placeholder = "About me" })
        <br />
        @Html.ValidationMessageFor(x => x.AboutMe)
        <br />
        @Html.TextBoxFor(x => x.Password, new { @placeholder = "Password", @type = "Password" })
        <br />
        @Html.ValidationMessageFor(x => x.Password)
        <br />
        @Html.TextBoxFor(x => x.ConfirmPassword, new { @placeholder = "Confirm your password", @type = "Password" })
        <br />
        @Html.ValidationMessageFor(x => x.ConfirmPassword)
        <br />

        <input type="submit" value="Register" class="btn blue darken-2" />
    }
</div>