@model MusicHub.ViewModels.ProjectCommentViewModel

@{
    if(WebSecurity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Logged_Layout.cshtml";        
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";        
    }
}

<div class="row">
    <div class="col s4">
        <div class="row card">
            <div class="container">
                <h3>Project menu</h3>
                <div class="section">
                    @Html.ActionLink("Details", "Details", new { projectname = ViewBag.ProjectName })
                </div>
                <div class="divider"></div>
                <div class="section">
                    @Html.ActionLink("Comments", "Comments", new { projectname = ViewBag.ProjectName })
                </div>
                <div class="divider"></div>
                <div class="section">
                    @Html.ActionLink("Contents", "Contents", new { projectname = ViewBag.ProjectName })
                </div>
            </div>
        </div>
    </div>
    <div class="col s8">
        <div class="row">
            <div class="col s8">
                @Html.ActionLink((string)ViewBag.UserName , "Profile", "User", new { user = ViewBag.UserName }, null) / @ViewBag.ProjectName
            </div>
            <div class="col s4">
                @if (WebSecurity.CurrentUserName != ViewBag.UserName)
                {

                }
            </div>
        </div>
    </div>
    <div class="col s8">
        <div class="row">
            @if (Model.PastComments.Count() > 0)
            {
                foreach (var p in Model.PastComments)
                {
                    <div class="col s12">
                        <div class="card-panel grey lighten-5 z-depth-1">
                            <div class="row valign-wrapper">
                                <div class="row">
                                    <div class="col s2">
                                        <img src="@Url.Content(p.User.PhotoUrl)" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                        <p>@p.User.UserName</p>
                                    </div>
                                    <div class="col s8">
                                        <span class="black-text">
                                            @p.Comment
                                        </span>
                                    </div>
                                    <div class="col s12 right-align">
                                        <time datetime="@p.Date.ToString("MM/dd/yyyy HH:mm:ss")" class="age"></time>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col s12">
                    <b>No comments on this project.</b>
                    <i>Be the first to add one.</i>
                </div>
            }
            @if (WebSecurity.IsAuthenticated)
                {
                    using (Html.BeginForm("Comments", "Project", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true);
                        @Html.Hidden("projectname", (string)ViewBag.ProjectName)
                        <div class="col s12">
                            <span>New comment:</span>
                            @Html.TextBox("comment")
                        </div>
                        <div class="col s12">
                            @Html.ValidationMessageFor(x => x.NewComment.Comment)
                        </div>
                        <div class="col s12 right-align">
                            <input type="submit" value="Comment" class="btn green darken-3" />
                        </div>
                    }
                }
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".age").age();
        });
    </script>
}